/* Reset and General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

/* Container Styles */
.container {
    position: relative;
    overflow: hidden;
}

/* Welcome Section */
.welcome-section {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

.welcome-section img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.welcome-text {
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 10px;
}

.welcome-text h1 {
    font-size: 3rem;
    line-height: 1.2;
    margin: 0;
    color: #fff;
}

@media (max-width: 768px) {
    .welcome-text h1 {
        font-size: 2.5rem;
    }
}

/* About Me Container Styles */
.about-me {
    overflow: hidden; 
}

.about-me section {
    width: 90%; 
}

.about-title {
    font-size: 2rem;
    font-weight: bold;
    color: #070707;
}

.personal-introduction {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    width: 100%;
    max-width: 1200px;
    gap: 20px;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    color: #020202;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/* Common Styles for Sections (Skills, Experience, Education) */
.skills-section,
.experience-section,
.education-section {
    flex: 1;
    margin-bottom: 20px;
}

/* List Styles for Skills, Experience, Education */
.skill-list,
.experience-list,
.education-list {
    font-size: 18px;
    line-height: 1.5;
}

/* Highlight Styles for Skills, Experience, Education */
.skill-highlight,
.experience-highlight,
.education-highlight {
    font-weight: 300;
}

/* Title Styles for Skills, Experience, Education */
.skills-title,
.experience-title,
.education-title {
    font-size: 2rem;
    color: #050505;
    font-weight: 300;
    line-height: 1.2;
    font-weight: bold;
}

/* Horizontal Rule Styles */
hr {
    border: none;
    height: 2px;
    background-color: #f9004d;
    margin-top: 10px;
}

/* Highlighted Text Color */
.highlight {
    color: #f9004d;
}

/* Image Styles */
.image-container {
    float: left; 
    margin-right: 20px;
    margin-left: 100px;
}

.image-container img {
    aspect-ratio: 0.75;
    object-fit: cover;
    object-position: center;
    width: 1000%;
    box-shadow: 0 25px 65px rgba(0, 0, 0, 0.1);
    max-width: 350px;
    position: relative;
    border-radius: 20px;
    height: auto;
    margin-right: 5px; /* Add margin to the right to create space between image and content */
    overflow: hidden;
    transform-origin: center center;
    animation: scaleImage 2s infinite alternate;
}
@keyframes scaleImage {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1); /* Adjust the scaling factor as desired */
    }
}

/* Skills, Experience, Education Styles */
.skills, .experience, .education {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
}

.highlight {
    color: #f9004d;
    font-weight: bold;
}

.highlight-bar {
    background-color: #f9004d;
    height: 2px;
    margin-top: 8px;
}

.skillset, .work-experience, .academic-credentials {
    margin-top: 24px;
    font-weight: 300;
}

/* Navbar */
.profile-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
    box-shadow: 0px 25px 65px 0px rgba(0, 0, 0, 0.1);
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

nav a:hover {
    border-bottom: 2px solid white;
}

/* Bounding Arrow Animation */
.bounding-arrow {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 30px solid #fff;
    cursor: pointer;
    animation: bounceArrow 1s infinite alternate;
}

@keyframes bounceArrow {
    0% {
        transform: translateX(-50%) translateY(0);
    }
    100% {
        transform: translateX(-50%) translateY(10px);
    }
}
