/* Reset and General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #000;
}

/* Container Styles */
.container {
    position: relative;
    overflow: hidden;
}

/* Welcome Section */
.welcome-section {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

.welcome-section img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.welcome-text {
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 10px;
}

.welcome-text h1 {
    font-size: 3rem;
    line-height: 1.2;
    margin: 0;
    color: #fff;
}

@media (max-width: 768px) {
    .welcome-text h1 {
        font-size: 2.5rem;
    }
}

/* About Me */
.about-me {
    overflow: hidden; 
}

.about-me section {
    width: 100%; 
}

.about-title {
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
}

.personal-introduction {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    width: 100%;
    max-width: 1200px;
    gap: 20px;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.5;
    color: #fff;
    margin-bottom: 20px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/* Skills, Experience, Education */
.skills-container {
    display: flex;
    flex-wrap: wrap;
}

.skills-section,
.experience-section,
.education-section {
    flex: 1;
    margin-bottom: 20px;
    width: calc(33.33% - 20px);
    box-sizing: border-box;
    background-color: #1a0000; 
    border: 2px solid #1a0000; 
    border-radius: 20px; /
    overflow: hidden; 
    padding: 20px; 
}

/* Title Styles */
.skills-title,
.experience-title,
.education-title {
    font-size: 24px;
    color: #fff;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 10px; /* Adjust margin for spacing */
}

/* List Styles */
.skill-list,
.experience-list,
.education-list {
    font-size: 18px;
    line-height: 1.5;
    color: #fff;
    list-style-type: none; /* Remove default list styles */
}

/* Item Styles */
.skill-list li,
.experience-list li,
.education-list li {
    margin-bottom: 15px; /* Adjust margin for spacing between items */
}

/* Highlight Styles */
.skill-highlight,
.experience-highlight,
.education-highlight {
    font-weight: 300;
}

/* Horizontal Rule Styles */
hr {
    border: none;
    height: 2px;
    background-color: #f9004d;
    margin-top: 10px;
}

/* Highlighted Text Color */
.highlight {
    color: #f9004d;
}



/* Image Styles */
.image-container {
    float: left; 
    margin-right: 20px;
    margin-left: 20px;
}

.image-container img {
    aspect-ratio: 0.75;
    object-fit: cover;
    object-position: center;
    width: 2000%;
    box-shadow: 0 25px 65px rgba(0, 0, 0, 0.1);
    max-width: 350px;
    position: relative;
    border-radius: 20px;
    height: auto;
    margin-right: 5px; 
    overflow: hidden;
    transform-origin: center center;
    animation: scaleImage 2s infinite alternate;
}

@keyframes scaleImage {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1); 
    }
}

/* Social Media Links Styles */
.social-media-links {
    display: flex;
    gap: 20px; /* Adjust the gap between social media icons */
    justify-content: center;
    margin-top: 80px; /* Adjust margin as needed */
  }
  
  .social-media-links a {
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  
  .social-media-links img {
    width: 30px; /* Adjust the width of the social media icons */
    height: auto; /* Maintain aspect ratio */
    border-radius: 50%;
    transition: transform 0.3s ease-in-out; /* Add a smooth transition effect */
  }
  
  .social-media-links img:hover {
    transform: scale(1.2); /* Add a zoom effect on hover */
  }
  
/* Flex Container Styles */
.flex-container {
    display: flex;
    gap: 3rem; /* Adjust the gap as needed */
    justify-content: space-between;
  }
  
  /* Individual Image Styles */
  .flex-container img {
    /* Add your individual image styles here */
    /* For example: */
    width: 100px;
    height: 100px;
    object-fit: cover;
  }
  

/* Stack icon  */
.icon-container .icon {
    width: 65px;
    height: 65px;
}

.icon-container {
    display: flex;
    gap: 5px;
    margin-top: 150px;
}


/* Navbar */
.profile-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
    box-shadow: 0px 25px 65px 0px rgba(0, 0, 0, 0.1);
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

nav a:hover {
    border-bottom: 2px solid white;
}

/* Bounding Arrow Animation */
.bounding-arrow {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 30px solid #fff;
    cursor: pointer;
    animation: bounceArrow 1s infinite alternate;
}

@keyframes bounceArrow {
    0% {
        transform: translateX(-50%) translateY(0);
    }
    100% {
        transform: translateX(-50%) translateY(10px);
    }
}

/* Projects Container */
.page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
  }
  
  .projects-header {
    color: #fff;
    text-align: center;
    font: 700 60px/141% Poppins, sans-serif;
  }
  
  .projects-description {
    color: rgba(198, 201, 216, 0.75);
    text-align: center;
    margin-top: 21px;
    font: 300 18px/167% Poppins, sans-serif;
  }
  
  .projects-grid,
  .projects-row {
    align-self: stretch;
    margin-top: 75px;
    width: 100%;
    display: flex;
    gap: 20px;
  }
  
  .project-card {
    position: relative;
    overflow: hidden;
    aspect-ratio: 0.65;
    font-size: 14px;
    color: #0a0a0a;
    font-weight: 400;
    text-align: center;
    padding: 45px 68px;
    cursor: pointer;
    transition: transform 0.5s; /* Add a transition for a smooth flip effect */
    transform-style: preserve-3d; /* Preserve 3D transformations for child elements */
  }
  
  .project-card:hover {
    transform: rotateY(180deg); /* Rotate the card on hover */
  }
  
  .project-image {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    backface-visibility: hidden; /* Hide the backface of the image during rotation */
  }
  
  .project-details {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: rotateY(180deg); /* Initially rotate details container to the back of the card */
    backface-visibility: hidden; /* Hide the backface during rotation */
    background-color: #e74c3c; /* Matte red background color */
    color: #fff; /* Text color on the backside */
  }
  
  .project-details h3,
  .project-details p {
    margin: 0;
  }
  
  .project-title,
  .project-technology {
    position: relative;
    color: #010411;
    font-family: Poppins, sans-serif;
    line-height: 214%;
    margin-top: 328px;
  }
  
  
  .view-details,
  .view-more {
    position: relative;
    border-radius: 4px;
    border: 2px solid rgba(10, 0, 0, 0.3);
    margin-top: 45px;
    white-space: nowrap;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    line-height: 243%;
    padding: 15px 26px;
    background-color: #830f0281;
  }
  
  .view-more {
    border: 2px solid #29010e;
    background-color: #a10436dc;
    color: #130505;
    padding: 25px 44px;
  }
  
  /* Media Query for smaller screens */
  @media (max-width: 991px) {
    .projects-header {
      font-size: 40px;
    }
  
    .projects-description,
    .project-title,
    .project-technology,
    .view-details,
    .view-more {
      white-space: initial;
    }
  
    .projects-grid,
    .projects-row,
    .project-card {
      max-width: 100%;
      flex-direction: column;
      align-items: stretch;
      gap: 0;
      padding: 0 20px;
      margin-top: 30px;
    }
  }
  
  /* Contact Form */
  .contact-container {
    display: flex;
    max-width: 400px;
    flex-direction: column;
    font-size: 15px;
    color: #f5f1f1;
    font-weight: 400;
    padding: 20px;
    margin-top: 50px;
    background-color: #1a0000;
    border-radius: 10px;
  }
  
  .contact-title {
    color: #f1f0f0;
    width: 100%;
    font: 700 40px/141% "Poppins", sans-serif;
  }
  
  .contact-intro {
    color: #f78e8e;
    margin-top: 20px;
    width: 100%;
    font: 18px/167% "Poppins", sans-serif;
  }
  
  .contact-label {
    font-family: "Liberation Sans", sans-serif;
    margin-top: 20px;
    padding: 15px;
    border: 2px solid #e6dbdb;
    border-radius: 5px;
    background-color: #1a0000;
  }
  
  .contact-submit {
    display: flex;
    justify-content: center;
    border-radius: 6px;
    border: 2px solid #f9004d;
    background-color: #f9004d;
    align-self: start;
    margin-top: 20px;
    color: #e6e0e0;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 15px 30px;
    font: 16px "Liberation Sans", sans-serif;
    cursor: pointer;
  }
  
  /* Media Query for Contact Form */
  @media (max-width: 991px) {
    .contact-title {
      font-size
  
    }
  
    .contact-intro {
      margin-top: 15px; 
    }
  
    .contact-label {
      white-space: initial;
      padding: 15px; 
    }
  
    .contact-submit {
      white-space: initial;
      padding: 15px 20px; 
    }
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
  