/* Reset and General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

/* Container Styles */
.container {
    position: relative;
    overflow: hidden;
}

/* Welcome Section */
.welcome-section {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}

.welcome-section img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.welcome-text {
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 10px;
}

.welcome-text h1 {
    font-size: 3rem;
    line-height: 1.2;
    margin: 0;
    color: #fff;
}

@media (max-width: 768px) {
    .welcome-text h1 {
        font-size: 2.5rem;
    }
}

/* About Me Section */
.about-me {
    padding: 20px;
    background-color: rgba(4, 7, 32, 0.9);
    text-align: center;
    display: flex;
    align-items: center;
}

.about-me .profile-image {
    flex: 0 0 150px; 
    margin-right: 40px; 
    border-radius: 50%; 
    overflow: hidden;
}

.about-me .content {
    flex: 1;
}

.section-title {
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
}

.section-content {
    margin-top: 16px;
    font-weight: 300;
    line-height: 1.6;
    color: #fff;
}

/* Image Styles */
.image {
    width: 100%;
    max-width: 400px; /* Adjust the max-width as needed */
    margin: 0 auto; /* Center the image horizontally */
}

.image img {
    width: 100%;
    height: auto; /* Maintain the aspect ratio of the image */
    border-radius: 8px; /* Add rounded corners if desired */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
}

/* Skills, Experience, Education Styles */
.skills, .experience, .education {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
}

.highlight {
    color: #f9004d;
    font-weight: bold;
}

.highlight-bar {
    background-color: #f9004d;
    height: 2px;
    margin-top: 8px;
}

.skillset, .work-experience, .academic-credentials {
    margin-top: 24px;
    font-weight: 300;
}

/* Navbar */
.profile-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
    box-shadow: 0px 25px 65px 0px rgba(0, 0, 0, 0.1);
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

nav a:hover {
    border-bottom: 2px solid white;
}

/* Bounding Arrow Animation */
.bounding-arrow {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 30px solid #fff;
    cursor: pointer;
    animation: bounceArrow 1s infinite alternate;
}

@keyframes bounceArrow {
    0% {
        transform: translateX(-50%) translateY(0);
    }
    100% {
        transform: translateX(-50%) translateY(10px);
    }
}
